body {
    width: 100%;
    height: 1024px;
    background-color: #F3F5FC;
}
.logo {
    position: absolute;
    margin: 40px 0 0 84px;
    z-index: 10;
}
.cajaTxt {
    width: 760px;
    height: 944px;
    margin: 40px 80px 40px 160px;
    border-radius: 32px;
    overflow: hidden;
}
.cajaIntroducir {
    width: 577px;
    font-family: 'Inter';
    font-style: normal;
    font-size: 32px;
    font-weight: 400;
    background-color: transparent;
    border-style: none;
    margin: 80px auto 0 80px;
    border: none;
    color: #0A3871;
    resize: none;
    outline: none;
}
.advertencia {
    position: absolute;
    left: 240px;
    top: 851px;
}
.txtAdvertencia {
    position: absolute;
    top: 851px;
    left: 264px;
    width: 205px;
    height: 18px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #495057;
    opacity: 0.8;
}
.btnEncri {
    position: absolute;
    top: 885px;
    left: 240px;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;
    width: 328px;
    height: 67px;
    background: #0A3871;
    border-radius: 24px;
    cursor: pointer;
    flex: none;
    order: 0;
    flex-grow: 0;
    flex: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    text-align: center;
    order: 0;
    flex-grow: 1;
}
.btnDesncri {
    position: absolute;
    top: 885px;
    left: 592px;
    box-sizing: border-box;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;
    width: 328px;
    height: 67px;
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    flex: none;
    order: 1;
    flex-grow: 0;
    cursor: pointer;
}
.btnDesncri:hover, .btnEncri:hover {
    transform: scale(1.02);
    transition: 0.5s all;
}
input[value="Desencriptar"] {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #0A3871;
    flex: none;
    order: 0;
    flex-grow: 1;
}
.cajaResultado {
    position: absolute;
    width: 400px;
    height: 944px;
    left: 1000px;
    top: 40px;
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}
.resultado {
    position: absolute;
    width: 336px;
    left: 35px;
    top: 70px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    color: #495057;
    resize: none;
    outline: none;
    border: none;
}
.notificacion {
    position: absolute;
    left: 135px;
    top: 30px;
    font-family: 'Inter';
    font-style: bold;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: #0A3871;
}
.btnCopiar {
    width: 328px;
    height: 67px;
    position: absolute;
    left: 35px;
    top: 840px;
    border: 1px solid #0A3871;
    background-color: #FFFFFF;
    color: #0A3871;
    border-radius: 24px;
    flex: none;
    font-size: 16px;
    order: 1;
    flex-grow: 0;
    cursor: pointer;
}
.btnCopiar:disabled {
    background-color:transparent;
    border: 1px solid transparent;
    cursor: initial;
    color: transparent;
}
.divMuneco {
    position: absolute;
    width: 336px;
    height: 304px;
    left: 1032px;
    top: 283px;
}
.muneco {
    padding-bottom: 32px;
}
.muneco2{
    display: none;
}
.txt1 {
    width: 336px;
    height: 58px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: #343A40;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    padding-bottom: 16px
}
.txt2 {
    width: 336px;
    height: 48px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #495057;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}
@media screen and (max-width: 1024px) {
    .logo {
        position: absolute;
        left: -40px;
        top: 0px;
    }
    .cajaTxt {
        position: absolute;
        width: 100%;
        top: 10px;
        left: -200px;
        height: 70%;
    }
    .cajaIntroducir {
        position: absolute;
        width: 90%;
        height: 55%;
        font-size: 25px;
    }
    .btnEncri {
        position: absolute;
        width: 43%;
        height: 9%;
        margin: -280px auto;
        left: 8.5%;
        border-radius: 20px;
        text-align: center;
    }
    .btnDesncri {
        position: absolute;
        width: 43%;
        height: 9%;
        margin: -280px auto;
        left: 55%;
        border-radius: 20px;
        text-align: center;
    }
    .advertencia {
        position: absolute;
        top: 562px;
        left: 80px;
    }
    .txtAdvertencia {
        scale: 120%;
        position: absolute;
        top: 560px;
        left: 130px;
    }
    .cajaResultado {
        display: flex;
        width: 90%;
        max-height: 430px;
        top: 0px;
        margin: 780px 0 0 -950px;
        overflow: hidden;
        padding-bottom:  30px;
    }
    .resultado {
        position: absolute;
        width: 93%;
        min-height: 60%;
        top: 55px;
        left: 30px;
    }
    .btnCopiar {
        position: absolute;
        max-width: 30%;
        max-height: 13%;
        margin: -480px auto;
        border-radius: 15px;
        text-align: center;
    }
    .notificacion {
        display: flex;
        margin: -10px auto auto 66%;
        font-weight: 100;
    }
    .txt1 {
        display: flex;
        width: 100%;
        height: 29px;
        margin: 40px auto;
        justify-content: center;
    }
    .txt2 {
        position: absolute;
        width: 100%;
        height: 29px;
        margin: 80px auto;
        justify-content: center;
    }
    .muneco{
        display: none;
    }
    .muneco2 {
        display: flex;
        position: absolute;
        width: 35%;
        margin: 115px auto;
        left: 30%;
    }
    .divMuneco {
        display: flex;
        width: 90%;
        height: 480px;
        top: 0px;
        margin: 780px 0 0 -1000px;
        overflow: hidden;
    }
}
@media screen and (max-width: 800px){
    .logo{
        scale: 70%;
        top:-10px
    }
    .cajaIntroducir{
        height: 40%;
        top:-40px;  
    }
    .btnEncri {
        margin: -440px auto;
        left: 10.5%;
    }
    .btnDesncri {
        margin: -440px auto;
    }
    .advertencia {
        top: 400px;
    }
    .txtAdvertencia {
        top: 399px;
    }
    .cajaResultado {
        display: flex;
        width: 90%;
        max-height: 430px;
        top: 0px;
        margin: 610px 0 0 -960px;
        overflow: hidden;
        padding-bottom:  30px;
    }
    .notificacion{
        margin: -10px auto auto 58%;
    }
}
@media screen and (max-width: 768px) {
    .logo{
        scale: 70%;
    }
    .cajaIntroducir{
        position: absolute;
        height: 50%;
        top:-30px;
        height: 40%;
    }
    .btnEncri{
        left: 12%;
        width: 42%;
        margin: -500px auto;
    }
    .btnDesncri {
        width: 42%;
        left: 57%;
        margin: -500px auto;
    }
    .advertencia {
        position: absolute;
        top: 355px;
        left: 100px;
    }
    .txtAdvertencia {
        scale: 120%;
        position: absolute;
        top: 353px;
        left: 145px;    
    }
    .cajaResultado {
        margin: 530px 0 0 -960px;
    }
    .divMuneco{
        margin: 530px 0 0 -1000px;
    }
    .notificacion{
        margin: -10px auto auto 56%;
    }
    .resultado{
        font-size: 20px;
        top: 45px;
    }
    .muneco2{
        scale: 130%;
        margin: 160px auto -90px;   
    }    
}
@media screen and (max-width: 480px) {   
    .divMuneco{
        display: flex;
        height: 380px;
        margin: 480px 0 0 -1000px;
    }
    .txt1 {
        display: flex;
        width: 100%;
        height: 25px;
        margin: 100px auto;
        justify-content: center;
        font-size: 20px;
        left: -10px;
    }
    .txt2 {
        position: absolute;
        width: 100%;
        height: 25px;
        font-size: 15px;
        margin: 130px auto;
        justify-content: center;
    }
    .muneco2 {
        scale:100%;
        display: flex;
        position: absolute;
        width: 50%;
        margin: 180px auto;
        left: 20%;
    }
    .cajaResultado{
        max-height: 330px;
        margin: 520px 0 0 -975px;
    }
    .resultado{
        position: absolute;
        width: 90%;
        min-height: 60%;
        top: 55px;
        left: 30px;
    }
    .btnCopiar {
        margin: -560px auto;
    }
    .notificacion{
        margin: -10px auto auto 28%;
    }
    .cajaTxt {
        position: absolute;
        width: 100%;
        top: 10px;
        left: -200px;
        height: 60%;
        border-radius: 0;
        
    }
    .cajaIntroducir {
        position: absolute;
        width: 90%;
        height: 55%;
        font-size: 23px;
    }
    .btnEncri {
        position: absolute;
        width: 40%;
        height: 15%;
        margin: -515px auto;
        left: 16%;
        border-radius: 15px;
        text-align: center;
    }
    .btnDesncri {
        position: absolute;
        width: 40%;
        height: 15%;
        margin: -515px auto;
        left: 60%;
        border-radius: 15px;
        text-align: center;
    }
    .advertencia {
        position: absolute;
        top: 332px;
        left: 80px;
    }
    .txtAdvertencia {
        scale: 120%;
        position: absolute;
        top: 330px;
        left: 130px;
    }
}
@media screen and (max-width: 390px) {
    .logo {
        position: absolute;
        left: -60px;
        top: -30px;
        scale: 50%;
    }
    .divMuneco{
        display: flex;
        height: 380px;
        margin: 380px 0 0 -1015px;
    }
    .txt1 {
        margin: 60px auto;
        font-size: 23px;
    }

    .txt2 {
        position: absolute;
        width: 100%;
        height: 25px;
        font-size: 15px;
        margin: 130px auto;
        justify-content: center;
    }
    .muneco2 {
        display: flex;
        position: absolute;
        width: 60%;
        margin: 190px auto;
        left: 15%;
    }

    .cajaResultado{
        max-height: 330px;
        margin: 420px 0 0 -982px;
    }
    .resultado{
        position: absolute;
        width: 90%;
        min-height: 60%;
        top: 20px;
        left: 30px;
    }
    .btnCopiar {
        margin: -560px auto;
    }
    .notificacion{
        margin: 260px auto auto 12%;
    }

    .cajaTxt {
        position: absolute;
        width: 100%;
        top: -40px;
        left: -200px;
        height: 60%;
        border-radius: 0;
    }
    .cajaIntroducir{
        position: absolute;
        width: 94%;
        height: 44%;
        font-size: 20px;
        top:-15px;
        left: -20px;
    }
    .btnEncri {
        position: absolute;
        width: 40%;
        height: 15%;
        margin: -560px auto;
        left: 16%;
        border-radius: 15px;
        text-align: center;
    }
    .btnDesncri {
        position: absolute;
        width: 40%;
        height: 15%;
        margin: -560px auto;
        left: 60%;
        border-radius: 15px;
        text-align: center;
    }
    .advertencia {
        position: absolute;
        top: 290px;
        left: 80px;
    }
    .txtAdvertencia {
        scale: 120%;
        position: absolute;
        top: 288px;
        left: 125px;
    }
}